

<div class="card padding-bottom">
        <div class="card-header project-detail heading">
            <span>Print Logo</span>
        </div>
        <div id="invoice" style="padding: 30px;">
      
            <!-- <div class="toolbar hidden-print">
                <div class="text-right">
                    <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
                    <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
                </div>
                <hr>
            </div> -->
            <div id="print-logo" class="invoice"
                style="font-size: 11px!important;overflow: hidden!important;">
                <div>
                    <header style="padding: 10px 0;margin-top: 35%">
                        <div class="row">
                            <div class="col" style="text-align: center">
                                <a target="_blank" href="#">
                                    <img src="../../../assets/123.png" style="width: 650px;height: 500px;"
                                        data-holder-rendered="true" />
                                </a>
                            </div>
                            <!-- <div class="col company-details" style="text-align: right">
                                <h2 class="name" style="margin-top: 0;margin-bottom: 0">
                                    <span>
                                        MIS
                                    </span>
                                </h2>
                                <div>Office No.1, 1st Floor Ashraf Plaza, Kameti Chowk, Rawalpindi</div>
                                <div>(051) 555-8889</div>
                            </div> -->
                        </div>
                    </header>
                </div>
                <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                <div></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary cancel-button" (click)="closeModal()">Cancel</button>
            <button type="button" class="btn expense-button" [useExistingCss]="true" printSectionId="print-logo"
                ngxPrint>Print Logo</button>
        </div>
      </div>