.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:55px;
	right:40px;
	background-color:#29557d;
	color:#FFF;
	border-radius:50px;
	text-align:center!important;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	padding-top: 18px;
    color: white !important;
    font-size: x-large !important;
}

.icon{
    text-align: center;
}