<div class="animated fadeIn posTable">
    <div class="card">
        <div class="card-header project-detail heading">
            <span>Truck Expense</span>
        </div>
        <div *ngIf="simpleForm" class="card-body">
            <!-- <div class="row">
                <div class="col-sm-5 col-md-5 col-10">
                    <label class="current-date"><strong>Date</strong><span class="required">*</span></label>
                    <br>
                    <jqxDateTimeInput #myDateInput placeHolder="Select Date" class="form-control cal" [value]="null"
                        [max]="maxDate" [width]="200" [height]="30" formatString="f" [(ngModel)]="selectedDate"
                        [template]="'primary'" [allowKeyboardDelete]="false">
                    </jqxDateTimeInput>
                </div>
            </div> -->
            <form [formGroup]="simpleForm" style="margin-top: 15px">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- <div class="form-group">
                            <fieldset class="form-group">
                                <label for="state"><strong>Press</strong><span class="required">*</span></label>
                                <ng-select (click)="scrollOnDropdownExpansion(300)" style="position: relative;"
                                    appendTo="body" formControlName="vendor" class="bootstrap"
                                    placeholder="Choose your Press" [items]="dropDownVendors">
                                </ng-select>
                                <div *ngIf="submitted && f['vendor'].errors" class="invalid-feedback">
                                    <div *ngIf="f['vendor'].errors.required">Vendor is required</div>
                                </div>
                            </fieldset>
                        </div> -->
                        <div class="form-group">
                            <label for="state"><strong>Mazda No</strong><span class="required">*</span></label>
                            <input class="form-control" type="text" placeholder="e.g leh-1234" formControlName="mazda_no"
                                [ngClass]="{ 'is-invalid': f.mazda_no.touched && f.mazda_no.errors, 'is-valid': f.mazda_no.touched && !f.mazda_no.errors }">
                            <div *ngIf="f.mazda_no.touched && f['mazda_no'].errors" class="invalid-feedback">
                                <div *ngIf="f['mazda_no'].errors.required">Mazda number is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- <div class="form-group">
                            <fieldset class="form-group">
                                <label for="city"><strong>Mill</strong><span class="required">*</span></label>
                                <ng-select #city (click)="scrollOnDropdownExpansion(800)" data-display="static"
                                    class="bootstrap" formControlName="city" placeholder="Choose your Mill"
                                    [items]="cities">
                                </ng-select>
                                <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                                    <div *ngIf="f['city'].errors.required">City is required</div>
                                </div>
                            </fieldset>
                        </div> -->
                        <div class="form-group">
                                <label for="state"><strong>Description</strong><span class="required">*</span></label>
                                <input class="form-control" type="text" placeholder="Description" formControlName="description"
                                    [ngClass]="{ 'is-invalid': f.description.touched && f.description.errors, 'is-valid': f.description.touched && !f.description.errors }">
                                <div *ngIf="f.description.touched && f['description'].errors" class="invalid-feedback">
                                    <div *ngIf="f['description'].errors.required">Description is required</div>
                                </div>
                            </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- <div class="form-group">
                            <fieldset class="form-group">
                                <label for="city"><strong>Mazda No</strong><span class="required">*</span></label>
                                <ng-select #status (click)="scrollOnDropdownExpansion(800)" data-display="static"
                                    class="bootstrap" formControlName="status" placeholder="Choose Mazda"
                                    [items]="statuses">
                                </ng-select>
                                <div *ngIf="submitted && f['status'].errors" class="invalid-feedback">
                                    <div *ngIf="f['status'].errors.required">Status is required</div>
                                </div>
                            </fieldset>
                        </div> -->
                        <div class="form-group">
                                <label for="state"><strong>Expense</strong><span class="required">*</span></label>
                                <input class="form-control" type="number" placeholder="Expense in PKR" formControlName="expense"
                                    [ngClass]="{ 'is-invalid': f.expense.touched && f.expense.errors, 'is-valid': f.expense.touched && !f.expense.errors }">
                                <div *ngIf="f.expense.touched && f['expense'].errors" class="invalid-feedback">
                                    <div *ngIf="f['expense'].errors.required">Expense is required</div>
                                </div>
                        </div>
                    </div>

                    <!-- <div class="row form-group col-sm-12">
                        <ul style="margin-left: inherit; width: 100%">
                            <li *ngFor="let option of selectedProducts" style="margin-bottom: 5px;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <strong>{{option.name}}</strong>
                                    </div>
                                    <div class="col-sm-2">
                                        <strong>{{option.quantity}} Pcs</strong>
                                    </div>
                                    <div class="col-sm-2">
                                        <strong>{{option.price}}/pc</strong>
                                    </div>
                                    <div class="col-sm-2">
                                        <strong>PKR {{option.total}}</strong>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn action-button" (click)="deleteEntry(option)"><i
                                                class="cui-trash icons font-xl"></i></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </form>
            <div class="card-footer">
                <div class="card-header-actions">
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary mr-1 expense-button"
                            (click)="updateExpenseWithFormCheck()">
                            <i style="font-style: inherit;"></i>Update Expense
                        </button>
                    </div>
                </div>
                <div class="card-header-actions">
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary mr-1 expense-button"
                            (click)="closeModal()">
                            <i style="font-style: inherit;"></i>Cancel
                        </button>
                    </div>
                </div>
                <!-- <div class="card-header-actions total">
                    <div class="text-center">
                        <label for="state"><strong>Total:</strong></label>
                        <mat-chip-list aria-label="Fish selection" class="col-sm-2 matChip">
                            <mat-chip color="primary" selected>{{totalBill}}</mat-chip>
                        </mat-chip-list>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
