.card {
    margin-bottom: 0.5rem;
    height: auto;
    //background: linear-gradient(141deg, rgb(100, 222, 213) 0%, #02727d 51%, #1b7596 75%) !important;
    background-color: transparent;
    opacity: 0.95;
    border: 1px solid #336285 !important;
}
.card-header{
    text-align: center;
    font-size: larger;
    border: none !important;
}

.project-detail {
    text-align: left !important;
}

.heading {
    background-color: #29557d;
    color:white;
    font-weight: bolder;
}

.positionInfo {
    margin: 20px;
}

.info {
    margin-left: 20px;
    font-size: larger;
}

.infoSection {
    margin-top: 40px;
    margin-left: 0px;
}

.dInput {
    width: -webkit-fill-available;
    height: calc(1.5em + 0.75rem + 2px);
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0.375rem 0.75rem;
    color: #5c6873;
    margin-left: -15px;
}

.expense-button {
    border: 2px solid #29557d;
    background-color: #29557d;
    color: white;
    margin-left: 15px;
    margin-bottom: 1px;
    margin-top: 20px;
    font-weight: bolder;
}

.expense-button:hover {
    background-color: white;
    color: #29557d;
}

.card-footer {
    background-color: transparent !important;
    margin-top: 20px;
    border-top: 1px solid #2d4b654d !important;
}

.details-footer {
    background-color:none!important;
}

.card-header-actions {
    float: left !important;
    margin-left: -20px !important;
}

.invalid-feedback {
    text-align: left !important;
}

.dropdown-feedback {
    text-align: left !important;
    display: contents;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #f86c6b;
}

.matChip {
    margin-top: 32px !important;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #29557d;
    color: #fff;
}
