
@import "src/app/app.component.scss";

.main {
  background: linear-gradient(141deg,rgba(44, 180, 202, 0.5) 0,#5fa99e6b 51%,#c7efe7de 75%)!important;
}

.container{
  margin-top: 15%;
}
.btn-primary{
  background-color: #254e74;
}
button.btn-primary{
  background-color: #254e74;
  border-color: #254e74;
}
button.btn-primary:hover,button.btn-primary:active{
  background-color: #254e74;
  border-color: #254e74;
  box-shadow: none;
}
.login-card{
  background-color: $panavid-grey !important;
}
.btn-link{
  color: $panavid-blue !important;
}
.responsive {
  max-width: 100%;
  height: auto;
}
body {
  background-color: #f0f3f5;
}

.container.center{
  margin-top: 0px !important;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logo-img{
  width: 250px;
  height: 150px;
  margin-left: 20px;
  align-self: center;
}

#mobile-signup{
  text-align: -webkit-center;
  margin-top: 20px;
  padding: 0;
}

#mob_view {
  display: none;
}

@media (max-width: 992px) {
  #mob_view {
    display: contents;
  }
}

@media (max-width: 400px) {
  .logo-img {
    width: 100%;
    margin-left: 0%;
  }
}


@media (max-width: 576px) {
  .ladda-button {
    min-width: 80px;
    max-width: auto;
  }

  .toast-top-right {
    width:90%;
    right: 2px !important;
  }
}

@media (max-height: 500px) {
  .container {
    height: -webkit-fill-available;
    overflow-y: scroll;
  }
}
