<div style="margin-top: -80px;">
  <div class="col-sm-6 offset-sm-3" style="text-align: center">
    <a (click)="printLogo()"> <div id="print-section"><img src="../../../assets/123.png" class="printImg" style="width: 325px;height: 225px;" data-holder-rendered="true" />
    </div>
  </a>
    </div>
</div>

<div class="col-sm-6 offset-sm-3 btnSection">
  <div class="buttons">
    <div class="text-center">
      <button type="button" class="col-sm-5 btn btn-secondary expense-button mr-2 btn-lg"
      [routerLink]="'/main/view-orders/Daily'">Today's Orders</button>
      <button type="button" class="col-sm-5 btn btn-secondary expense-button ml-2 btn-lg"
      [routerLink]="'/main/view-orders/All'">All Orders</button>
    </div>
    <div class="text-center" style="margin-top: 30px;">
      <button type="button" class="col-sm-5 btn btn-secondary expense-button mr-2 btn-lg"
      [routerLink]="'/main/view-truck-expenses/Daily'">Mazda Expenses</button>
      <button type="button" class="col-sm-5 btn btn-secondary expense-button ml-2 btn-lg"
      [routerLink]="'/main/view-truck-expenses/All'">All Expenses</button>
    </div>
  </div>
</div>