.btnSection {
    margin-top: 50px;
    padding-right: 70px;
}

.buttons {
    padding: 30px;
    align-items: center;
}

.expense-button {
    border: 2px solid #29557d;
    background-color: #29557d;
    color: white;
    margin-left: 15px;
    margin-bottom: 1px;
    margin-top: 20px;
    font-weight: bolder;
}

.expense-button:hover {
    background-color: white;
    color: #29557d;
    border: 2px solid white;
}

@media print {

    h1 {
        width: 600px;
        background-color: red;
    }    
}