
 <div class="animated fadeIn posTable">
   <div class="card padding-bottom">
         <div class="card-header project-detail heading">
               <span>Confirmation</span>
               <button type="button" class="close" (click)="cancelCall()" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
           </div>
           <div class="card-body">
               <span>{{data.msg}}</span>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-secondary cancel-button" (click)="cancelCall()">{{data.cancel}}</button>
               <button type="button" class="btn expense-button" (click)="yesCall()">{{data.confirm}}</button>
              </div>
   </div>
</div>