<div class="animated fadeIn posTable" style="border:none!important">
    <div class="row" *ngIf="simpleForm && isAll===false">
        <div [formGroup]="simpleForm" class="col-sm-5">
            <div class="form-group">
                <label for="state" style="font-weight: bold; color: #29557d"><strong>Mazda No</strong><span class="required">*</span></label>
                <input class="form-control" type="text" (keyup)="checkMazdaNo()" placeholder="e.g leh-1234" formControlName="mazda_no"
                    [ngClass]="{ 'is-invalid': f.mazda_no.touched && f.mazda_no.errors, 'is-valid': f.mazda_no.touched && !f.mazda_no.errors }"
                    style="margin-top: -5px">
                <div *ngIf="f.mazda_no.touched && f['mazda_no'].errors" class="invalid-feedback">
                    <div *ngIf="f['mazda_no'].errors.required">Mazda number is required</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-10">
            <label class="current-date" style="font-weight: bold; color: #29557d"><strong>Date</strong><span class="required">*</span></label>
            <br>
            <jqxDateTimeInput #myDateInput placeHolder="Select Date" class="form-control cal" [value]="null"
                 [width]="200" [height]="30" formatString="MM-yyyy" [(ngModel)]="selectedDate"
                [template]="'primary'" [allowKeyboardDelete]="false">
            </jqxDateTimeInput>
        </div>
        <div class="col-sm-2" style="margin-top: 22px;">
            <button _ngcontent-c6="" class="btn btn-secondary expense-button editBtn"
             type="button" (click)="getExpenses()" [disabled]="isMazdaNo==false">
            <i _ngcontent-c6="" class="fa fa-add" style="font-style: inherit;"></i>
            Get Expenses
        </button>
        </div>
    </div>
    <div class="card">
        <div class="card-header project-detail heading">
            <span>Mazda Expenses</span>
            <div class="row inlineBtn">
                <div _ngcontent-c6="" class="text-center inlineBtn">
                    <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button editBtn"
                        [routerLink]="'/main/new-truck-expense'" type="button">
                        <i _ngcontent-c6="" class="fa fa-add" style="font-style: inherit;"></i>
                        Add Expense
                    </button>
                </div>
                <div *ngIf="isAll==false" _ngcontent-c6="" class="text-center inlinePrintBtn">
                    <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button editBtn"
                        (click)="openExpensesViewPopup()" type="button">
                        <i _ngcontent-c6="" class="fa fa-add" style="font-style: inherit;"></i>
                        Print
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table #dataTable class="display table table-hover table-responsive-lg" style="width: 100%">
                <thead>
                    <tr class="heading" style="border: 1px solid white">
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
