.main-window {
    height: auto;
    min-height: 90vh;
    background: linear-gradient(141deg,rgba(44, 180, 202, 0.5) 0,#5fa99e6b 51%,#c7efe7de 75%)!important;
    background: inherit;
    opacity: 0.95;
}

.breadcrumb {
    background-color: transparent;
    opacity: 0.95;
    color: #29557d;
    font-weight: normal;
    font-size: large;
    border-bottom: none!important;
}
