<div class="card padding-bottom" style="width: max-content">
  <div class="card-header project-detail heading">
      <span>Descriptions</span>
  </div>
  <div id="invoice" style="padding: 10px;">

      <!-- <div class="toolbar hidden-print">
          <div class="text-right">
              <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
              <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
          </div>
          <hr>
      </div> -->
      <div id="print-section" class="invoice"
          style="font-size: 11px!important;width: fit-content;overflow: hidden!important;">
          <div>
              <header style="padding: 10px 0;margin-bottom: 20px;border-bottom: 1px solid #3989c6">
                  <div class="row">
                      <div class="col" style="text-align: center">
                          <a target="_blank" href="#">
                              <img src="../../../assets/123.png" style="width: 350px;height: 200px;"
                                  data-holder-rendered="true" />
                          </a>
                      </div>
                      <!-- <div class="col company-details" style="text-align: right">
                          <h2 class="name" style="margin-top: 0;margin-bottom: 0">
                              <span>
                                  MIS
                              </span>
                          </h2>
                          <div>Office No.1, 1st Floor Ashraf Plaza, Kameti Chowk, Rawalpindi</div>
                          <div>(051) 555-8889</div>
                      </div> -->
                  </div>
              </header>
              <main style="padding-bottom: 50px">
                  <div class="row contacts" style="margin-bottom: 20px">
                      <!-- <div class="col invoice-to" style="text-align: left">
                          <div class="text-gray-light">INVOICE TO:</div>
                          <h2 class="to" style="margin-top: 0;margin-bottom: 0">{{data.vendor.v_name}}</h2>
                          <div class="address">{{data.vendor.v_address}}</div>
                          <div class="email"><a href="#">{{data.vendor.v_contact_number}}</a></div>
                      </div> -->
                      <div class="col invoice-details" style="text-align: center">
                          <h1 class="invoice-id" style="margin-top: 0;color: #29557d">Monthly Expenses {{ data.mazda_no}} </h1>
                          <h4 class="date" >Month : {{data.date}}</h4>
                      </div>
                  </div>
                  <table style="min-width: 100%;width: auto;border-collapse: collapse;border-spacing: 0;margin-bottom: 20px"
                      border="0" cellspacing="0" cellpadding="0">
                      <thead>
                          <tr style="font-size: 10px; font-weight: bold">
                              <th style="padding: 10px;
                              background: #eee;
                              border: 1px solid black;
          " class="text-center">#</th>
                              <th style="padding: 10px;
                              background: #eee;
                              border: 1px solid black;
          " class="text-center">Description</th>
                              <th style="padding: 10px;
                              background: #eee;
                              border: 1px solid black;
          " class="text-center">Expense(PKR)</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let expense of data.expenses; index as i" style="padding: 10px;
                          background: #eee;border-bottom: 1px solid #fff;font-size: 10px;">
                              <td class="no" style="padding: 10px;
                              background: #eee;
                              border: 1px solid black;
                              text-align: center;">{{i+1}}</td>
                              <td class="qty" style="padding: 10px;
                              background: #eee;
                              border: 1px solid black;
                              text-align: center;
      ">{{expense.description}}</td>
                              <td class="unit" style="padding: 10px;
                              background: #eee;
                              border: 1px solid black;
                              text-align: center;
      ">{{expense.expense}}</td>
                          </tr>
                      </tbody>
                  </table>
                  <!-- <div class="notices" style="padding-left: 6px;border-left: 6px solid #3989c6;margin-top: 40px;">
                      <div>Monitored By: <span style="font-weight: bold">Faizan</span></div>
                      <div class="notice" style="margin-top: 20px;">Sign: _______________</div>
                  </div> -->
              </main>
              <footer>
                <div class="notices" style="padding-left: 6px;border-left: 6px solid #29557d;margin-top: 0px;">
                  <div>Monitored By: <span style="font-weight: bold; font-size: 16px;">Faizan</span></div>
                  <div class="notice" style="margin-top: 20px;">Sign: _______________</div>
              </div>
              </footer>
          </div>
          <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
          <div></div>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary cancel-button" (click)="closeModal()">Cancel</button>
      <button type="button" class="btn expense-button" [useExistingCss]="true" printSectionId="print-section"
          ngxPrint>Print Expenses</button>
  </div>
</div>