<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h1 class="float-left display-3 mr-4">404</h1>
        <h4 class="pt-3">{{'generic[responses][error][404][001]'}}</h4>
      </div>
    </div>
