<div class="animated fadeIn posTable">
        <div class="card">
            <div class="card-header project-detail heading">
                <span>Edit Order</span>
            </div>
            <div *ngIf="simpleForm" class="card-body">
                <!-- <div class="row">
                    <div class="col-sm-5 col-md-5 col-10">
                        <label class="current-date"><strong>Date</strong><span class="required">*</span></label>
                        <br>
                        <jqxDateTimeInput #myDateInput placeHolder="Select Date" class="form-control cal" [value]="null"
                            [max]="maxDate" [width]="200" [height]="30" formatString="f" [(ngModel)]="selectedDate"
                            [template]="'primary'" [allowKeyboardDelete]="false">
                        </jqxDateTimeInput>
                    </div>
                </div> -->
                <form [formGroup]="simpleForm" style="margin-top: 15px">
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- <div class="form-group">
                                <fieldset class="form-group">
                                    <label for="state"><strong>Press</strong><span class="required">*</span></label>
                                    <ng-select (click)="scrollOnDropdownExpansion(300)" style="position: relative;"
                                        appendTo="body" formControlName="vendor" class="bootstrap"
                                        placeholder="Choose your Press" [items]="dropDownVendors">
                                    </ng-select>
                                    <div *ngIf="submitted && f['vendor'].errors" class="invalid-feedback">
                                        <div *ngIf="f['vendor'].errors.required">Vendor is required</div>
                                    </div>
                                </fieldset>
                            </div> -->
                            <div class="form-group">
                                <label for="state"><strong>Press</strong><span class="required">*</span></label>
                                <input class="form-control" type="text" formControlName="press_name">
                                <!-- <div *ngIf="f.press_name.touched && f['press_name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['press_name'].errors.required">Press name is required</div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- <div class="form-group">
                                <fieldset class="form-group">
                                    <label for="city"><strong>Mill</strong><span class="required">*</span></label>
                                    <ng-select #city (click)="scrollOnDropdownExpansion(800)" data-display="static"
                                        class="bootstrap" formControlName="city" placeholder="Choose your Mill"
                                        [items]="cities">
                                    </ng-select>
                                    <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                                        <div *ngIf="f['city'].errors.required">City is required</div>
                                    </div>
                                </fieldset>
                            </div> -->
                            <div class="form-group">
                                    <label for="state"><strong>Mill</strong><span class="required">*</span></label>
                                    <input class="form-control" type="text" formControlName="mill_name">
                                    <!-- <div *ngIf="f.mill_name.touched && f['mill_name'].errors" class="invalid-feedback">
                                        <div *ngIf="f['mill_name'].errors.required">Mill name is required</div>
                                    </div> -->
                                </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- <div class="form-group">
                                <fieldset class="form-group">
                                    <label for="city"><strong>Mazda No</strong><span class="required">*</span></label>
                                    <ng-select #status (click)="scrollOnDropdownExpansion(800)" data-display="static"
                                        class="bootstrap" formControlName="status" placeholder="Choose Mazda"
                                        [items]="statuses">
                                    </ng-select>
                                    <div *ngIf="submitted && f['status'].errors" class="invalid-feedback">
                                        <div *ngIf="f['status'].errors.required">Status is required</div>
                                    </div>
                                </fieldset>
                            </div> -->
                            <div class="form-group">
                                    <label for="state"><strong>Mazda No</strong><span class="required">*</span></label>
                                    <input class="form-control" type="text" formControlName="mazda_no">
                                    <!-- <div *ngIf="f.mazda_no.touched && f['mazda_no'].errors" class="invalid-feedback">
                                        <div *ngIf="f['mazda_no'].errors.required">Mazda No is required</div>
                                    </div> -->
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- <div class="form-group">
                                <fieldset class="form-group">
                                    <label for="city"><strong>Driver Name</strong><span class="required">*</span></label>
                                    <ng-select #type (click)="scrollOnDropdownExpansion(800)" data-display="static"
                                        class="bootstrap" formControlName="orderType" placeholder="Choose Driver Name"
                                        [items]="orderTypes">
                                    </ng-select>
                                    <div *ngIf="submitted && f['orderType'].errors" class="invalid-feedback">
                                        <div *ngIf="f['orderType'].errors.required">Order Type is required</div>
                                    </div>
                                </fieldset>
                            </div> -->
                            <div class="form-group">
                                    <label for="state"><strong>Driver</strong><span class="required">*</span></label>
                                    <input class="form-control" type="text" formControlName="driver_name">
                                    <!-- <div *ngIf="f.driver_name.touched && f['driver_name'].errors" class="invalid-feedback">
                                        <div *ngIf="f['driver_name'].errors.required">Driver name is required</div>
                                    </div> -->
                            </div>
                        </div>
                        <div class="col-sm-4">
                                <div class="form-group">
                                        <label for="state"><strong>Labour</strong><span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="labour">
                                        <!-- <div *ngIf="f.labour.touched && f['labour'].errors" class="invalid-feedback">
                                            <div *ngIf="f['labour'].errors.required">Labour is required</div>
                                        </div> -->
                                </div>
                        </div>
    
                        <div class="col-sm-12">
                            <label for="state"><strong>Material Type</strong></label>
                            <br>
                            <div class="row">
                                <div class="col-sm-1">
                                    <label for="state">Bbc</label>
                                    <div class="form-group">
                                        <input class="form-control" type="number" formControlName="bbc">
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label for="state">Btn</label>
                                    <div class="form-group">
                                            <div class="form-group">
                                                    <input class="form-control" type="number" formControlName="btn">
                                                </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label for="state">Bleach</label>
                                    <div class="form-group">
                                            <div class="form-group">
                                                    <input class="form-control" type="number" formControlName="bleach">
                                                </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label for="state">Carug</label>
                                    <div class="form-group">
                                            <div class="form-group">
                                                    <input class="form-control" type="number" formControlName="carug">
                                                </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label for="state">News</label>
                                    <div class="form-group">
                                            <div class="form-group">
                                                    <input class="form-control" type="number" formControlName="news">
                                                </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label for="state">W.C</label>
                                    <div class="form-group">
                                            <div class="form-group">
                                                    <input class="form-control" type="number" formControlName="wc">
                                                </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label for="state">Proof</label>
                                    <div class="form-group">
                                            <div class="form-group">
                                                    <input class="form-control" type="number" formControlName="proof">
                                                </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label for="state">Shine</label>
                                    <div class="form-group">
                                            <div class="form-group">
                                                    <input class="form-control" type="number" formControlName="shine">
                                                </div>
                                    </div>
                                </div>
                                <!-- <mat-chip-list *ngIf="isAdded==true" aria-label="Fish selection" class="col-sm-2 matChip">
                                    <mat-chip color="primary" selected>{{itemAvaiableQuantity}}</mat-chip>
                                </mat-chip-list>
                                <div *ngIf="isAdded==true" class="col-sm-1">
                                    <label for="state"></label>
                                    <button type="button" id="addBtn" class="col-md-12 btn btn-danger"
                                        [disabled]="addBtnDisable" (click)="selectProduct();pODropDown.handleClearClick()">
                                        <i style="text-align: center;
                                             margin: auto;" class="fa fa-plus"></i>
                                    </button>
                                </div> -->
                            </div>
                        </div>
    
                        <div class="col-sm-4">
                                <div class="form-group">
                                        <label for="state"><strong>Weight in Press</strong><span class="required">*</span></label>
                                        <input class="form-control" type="number" formControlName="weightInPress">
                                        <!-- <div *ngIf="f.weightInPress.touched && f['weightInPress'].errors" class="invalid-feedback">
                                            <div *ngIf="f['weightInPress'].errors.required">Weight is required</div>
                                        </div> -->
                                </div>
                        </div>
                        <div class="col-sm-4">
                                <div class="form-group">
                                        <label for="state"><strong>Weight in Mill</strong><span class="required">*</span></label>
                                        <input class="form-control" type="text" formControlName="weightInMill">
                                        <!-- <div *ngIf="f.weightInMill.touched && f['weightInMill'].errors" class="invalid-feedback">
                                            <div *ngIf="f['weightInMill'].errors.required">Weight is required</div>
                                        </div> -->
                                </div>
                        </div>
    
                        <!-- <div class="row form-group col-sm-12">
                            <ul style="margin-left: inherit; width: 100%">
                                <li *ngFor="let option of selectedProducts" style="margin-bottom: 5px;">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <strong>{{option.name}}</strong>
                                        </div>
                                        <div class="col-sm-2">
                                            <strong>{{option.quantity}} Pcs</strong>
                                        </div>
                                        <div class="col-sm-2">
                                            <strong>{{option.price}}/pc</strong>
                                        </div>
                                        <div class="col-sm-2">
                                            <strong>PKR {{option.total}}</strong>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" class="btn action-button" (click)="deleteEntry(option)"><i
                                                    class="cui-trash icons font-xl"></i></button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </form>
                <div class="card-footer">
                    <div class="card-header-actions">
                        <div class="text-center">
                            <button type="button" class="btn btn-secondary mr-1 expense-button"
                                (click)="updateOrderWithFormCheck()">
                                <i style="font-style: inherit;"></i>Update Order
                            </button>
                        </div>
                    </div>
                    <div class="card-header-actions">
                        <div class="text-center">
                            <button type="button" class="btn btn-secondary mr-1 expense-button"
                                (click)="closeModal()">
                                <i style="font-style: inherit;"></i>Cancel
                            </button>
                        </div>
                    </div>
                    <!-- <div class="card-header-actions total">
                        <div class="text-center">
                            <label for="state"><strong>Total:</strong></label>
                            <mat-chip-list aria-label="Fish selection" class="col-sm-2 matChip">
                                <mat-chip color="primary" selected>{{totalBill}}</mat-chip>
                            </mat-chip-list>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>