.app-header .navbar-nav {
    margin-right: 5px;
}

.app-header {
    background: linear-gradient(141deg,rgba(44, 180, 202, 0.5) 0,#5fa99e6b 51%,#c7efe7de 75%)!important;
    border: none !important;
}

@media (max-width: 700px) {
    .username{
        display: none;
    }
}
