<app-header
  [navbarBrandRouterLink]="['/main']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/logo.png', width: 90, height: 25, alt: 'MIS Logo'}"
  [navbarBrandMinimized]="{src: 'assets/logo2.png', width: 35, height: 35, alt: 'MIS Logo'}"
  [sidebarToggler]="false" [asideMenuToggler]="false" [mobileAsideMenuToggler]="false"
  [mobileSidebarToggler]="true">
  <ul class="nav navbar-nav ml-auto username">
    <p class="navbar-nav"><span style="font-size: 11px">Welcome</span> &nbsp;
    <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false" (click)="false">
      {{username}},
    </a>
    <a class="nav-link" style="color: #86640c" [routerLink]="'/main/logout'"
      role="button" aria-haspopup="true" aria-expanded="false">
      &nbsp; Logout
    </a>
    </p>
  </ul>

</app-header>
