<div class="animated fadeIn posTable" style="border:none!important">
    <div class="card">
        <div class="card-header project-detail heading">
            <span>Orders</span>
            <div class="row inlineBtn">
                <div _ngcontent-c6="" class="text-center inlineBtn">
                    <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button editBtn"
                        [routerLink]="'/main/new-order'" type="button">
                        <i _ngcontent-c6="" class="fa fa-add" style="font-style: inherit;"></i>
                        Add Order
                    </button>
                </div>
                <div *ngIf="isAll==false" _ngcontent-c6="" class="text-center inlinePrintBtn">
                    <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button editBtn"
                        (click)="openInvoicePopup()" type="button">
                        <i _ngcontent-c6="" class="fa fa-add" style="font-style: inherit;"></i>
                        Print
                    </button>
                </div>
                <div *ngIf="isAll==false" _ngcontent-c6="" style="margin-right: 15px" class="text-center inlinePrintBtn">
                    <!-- <label class="current-date" style="font-weight: bold; color: #29557d"><strong>Date</strong><span class="required">*</span></label> -->
                    <jqxDateTimeInput #myDateInput placeHolder="Select Date" class="form-control cal" [value]="null" 
                         [width]="200" [height]="30" formatString="yyyy/MM/dd" (onValueChanged)="dateChanged($event)" [(ngModel)]="selectedDate"
                        [template]="'primary'" [allowKeyboardDelete]="false">
                    </jqxDateTimeInput>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table #dataTable id="dataTable" classs="display nowrap responsive" style="width: 100% !important">
                <thead>
                    <tr class="heading" style="border: 1px solid white">
                        <th rowspan="2" class="simpleCol" #date id="date">
                            Date
                        </th>
                        <th rowspan="2" class="simpleCol" #source id="source">
                            Source
                        </th>
                        <th rowspan="2" class="simpleCol" id="dest">
                            Destination
                        </th>
                        <th colspan="2" style="text-align: center; font-weight: bold">
                            VEHICLE DETAILS
                        </th>
                        <th rowspan="2" class="simpleCol">
                            Labour
                        </th>
                        <th colspan="8" style="text-align: center; font-weight: bold">
                            MATERIAL TYPE
                        </th>
                        <th rowspan="2" class="simpleCol">
                            Press Weight
                        </th>
                        <th rowspan="2" class="simpleCol">
                            Mill Weight
                        </th>
                        <th rowspan="2" class="simpleCol">
                            Actions
                        </th>
                    </tr>
                    <tr>
                        <th>Mazda No</th>
                        <th>Driver Name</th>
                        <th>bbc</th>
                        <th>btn</th>
                        <th>bleach</th>
                        <th>carug</th>
                        <th>news</th>
                        <th>w.c</th>
                        <th>proof</th>
                        <th>shine</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<app-reload-button [callback]="this.refreshRecords.bind(this)"></app-reload-button>