@import url("https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css");
@import url("https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css");
@import url("https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css");

.posTable {
    background-color: transparent;
    opacity: 0.95;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    height: auto;
    background-color: transparent;
    opacity: 0.95;
    border: 1px solid #29557d;
    overflow-y: auto;
}

.card-header{
    text-align: center;
    font-size: larger;
}

.lineItemSection {
    margin-top: 25px;
}

.project-detail {
    text-align: left !important;
}

.heading {
    background-color: #29557d;
    color:white;
}

.sortable-column {
    cursor: pointer; 
    min-width: 127px;
    width: 127px;
    max-width: 127px;
}
.sortable-column:focus {     
    background-color: #29557d!important;    
}

.fixed-column {
    min-width: 127px;
    width: 127px;
    max-width: 127px;
}

.simpleCol {
    text-align: center;
    padding-bottom: 42px;
}

tbody {
    max-height: 150px;
    overflow-y: auto;
}

tbody tr {
    border: 1px solid #29557d !important;
    font-size: 15px;
}

tbody td {
    border: 1px solid #29557d !important;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

.heading {
    background-color: #29557d;
    color:white;
}

.detail:hover {
    color: #29557d;
    font-size: 15px;
    transition: font-size .4s;
}

.editBtn {
    margin-right: 1%;
}

.inlineBtn {
    direction: rtl;
    display: inline-block;
    float: right;
}

.inlinePrintBtn {
    direction: ltr;
    display: inline-block;
    float: right;
}

.expense-button {
    border: 2px solid #29557d;
    background-color: white;
    color: #29557d;
    margin-bottom: 1px;
    font-weight: bolder;
}

.expense-button:hover {
    background-color: #29557d;
    color: white;
}

.expense-button:focus {
    box-shadow: none;
}

th span {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Ensure that the demo table scrolls */
    th, td {
        white-space: nowrap;
    }

    tbody td {
        white-space: nowrap !important;
    }

    .colWidth {
        white-space: nowrap;
    }
    