<div class="card padding-bottom" style="width: max-content">
    <div class="card-header project-detail heading">
        <span>Daily Descriptions</span>
    </div>
    <div id="invoice" style="padding: 10px;">

        <!-- <div class="toolbar hidden-print">
            <div class="text-right">
                <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
                <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
            </div>
            <hr>
        </div> -->
        <div id="print-section" class="invoice overflow-auto"
            style="font-size: 11px!important;width: fit-content;overflow: hidden!important;">
            <div>
                <header style="padding: 10px 0;margin-bottom: 20px;border-bottom: 1px solid #29557d">
                    <div class="row">
                        <div class="col" style="text-align: center">
                            <a target="_blank" href="#">
                                <img src="../../../assets/123.png" style="width: 350px;height: 200px;"
                                    data-holder-rendered="true" />
                            </a>
                        </div>
                        <!-- <div class="col company-details" style="text-align: right">
                            <h2 class="name" style="margin-top: 0;margin-bottom: 0">
                                <span>
                                    MIS
                                </span>
                            </h2>
                            <div>Office No.1, 1st Floor Ashraf Plaza, Kameti Chowk, Rawalpindi</div>
                            <div>(051) 555-8889</div>
                        </div> -->
                    </div>
                </header>
                <main style="padding-bottom: 50px">
                    <div class="row contacts" style="margin-bottom: 20px">
                        <!-- <div class="col invoice-to" style="text-align: left">
                            <div class="text-gray-light">INVOICE TO:</div>
                            <h2 class="to" style="margin-top: 0;margin-bottom: 0">{{data.vendor.v_name}}</h2>
                            <div class="address">{{data.vendor.v_address}}</div>
                            <div class="email"><a href="#">{{data.vendor.v_contact_number}}</a></div>
                        </div> -->
                        <div class="col invoice-details" style="text-align: center">
                            <p>Shop# 13, Rose Centre, Paisa Akhbar Chowk, Urdu Bazar, Lahore </p>
                            <h1 class="invoice-id" style="margin-top: 0;color: #29557d">Daily Descriptions </h1>
                            <h4 class="date" style="font-weight: bold;">Date : {{data.date}}</h4>
                        </div>
                    </div>
                    <table style="min-width: 100%;width: auto;border-collapse: collapse;border-spacing: 0;margin-bottom: 20px"
                        border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr style="font-size: 10px; font-weight: bold">
                                <th rowspan="2" style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            ">#</th>
                                <th rowspan="2" style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            " class="text-center">Source</th>
                                <th rowspan="2" style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            " class="text-center">Destination</th>
                                <th colspan="2" style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            " class="text-center">VEHICLE DETAILS</th>
                                <th rowspan="2" style="padding: 10px;max-width: 80px;
                                background: #eee;max-width: 10vw;
                                border: 1px solid black;
            " class="text-center">Labour</th>
                                <th colspan="8" style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;" class="text-center">MATERIAL TYPE</th>
                                <th rowspan="2" style="padding: 10px;
                                background: #eee;max-width: 4vw;
                                border: 1px solid black;
            " class="text-center">Press Weight</th>
                                <th rowspan="2" style="padding: 10px;
                                background: #eee;max-width: 4vw;
                                border: 1px solid black;
            " class="text-center">Mill Weight</th>
                            </tr>
                            <tr style="font-size: 10px;">
                                <th style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            " class="text-right">Mazda No</th>
                                <th style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            " class="text-right">Driver Name</th>
                                <th style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            
            " class="text-right">bbc</th>
                                <th style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            
            " class="text-right">btn</th>
                                <th style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            
            " class="text-right">bleach</th>
                                <th style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            
            " class="text-right">carug</th>
                                <th style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            
            " class="text-right">news</th>
                                <th style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            
            " class="text-right">w.c</th>
                                <th style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            
            " class="text-right">proof</th>
                                <th style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
            
            " class="text-right">shine</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of data.orders; index as i" style="padding: 10px;
                            background: #eee;border-bottom: 1px solid #fff;font-size: 10px;">
                                <td class="no" style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
                                color: #fff;;
        background: #29557d">{{i+1}}</td>
                                <td class="text-left" style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
    ">
                                        {{order.press_name}}
                                </td>
                                <td class="qty" style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
                                text-align: center;
        ">{{order.mill_name}}</td>
                                <td class="unit" style="padding: 10px;
                                background: #eee;
                                border: 1px solid black;
                                text-align: center;
        ">{{order.mazda_no}}</td>
                                <td class="total" style="padding: 10px;
                                border: 1px solid black;text-align: center;
        ;
        background: #eee;">{{order.driver_name}}</td>
        <td class="total" style="padding: 10px;
        border: 1px solid black;text-align: center;
;max-width: 10vw;
background: #eee;">{{order.labour}}</td>
<td class="total" style="padding: 10px;
border: 1px solid black;text-align: center;
;
background: #eee;">{{order.bbc}}</td>
<td class="total" style="padding: 10px;
border: 1px solid black;text-align: center;
;
background: #eee;">{{order.btn}}</td>
<td class="total" style="padding: 10px;
border: 1px solid black;text-align: center;
;
background: #eee;">{{order.bleach}}</td>
<td class="total" style="padding: 10px;
border: 1px solid black;text-align: center;
;
background: #eee;">{{order.carug}}</td>
<td class="total" style="padding: 10px;
border: 1px solid black;text-align: center;
;
background: #eee;">{{order.news}}</td>
<td class="total" style="padding: 10px;
border: 1px solid black;text-align: center;
;
background: #eee;">{{order.wc}}</td>
<td class="total" style="padding: 10px;
border: 1px solid black;text-align: center;
;
background: #eee;">{{order.proof}}</td>
<td class="total" style="padding: 10px;
border: 1px solid black;text-align: center;
;
background: #eee;">{{order.shine}}</td>
<td class="total" style="padding: 10px;
border: 1px solid black;text-align: center;
;
background: #eee;">{{order.weightInPress}}</td>
<td class="total" style="padding: 10px;
border: 1px solid black;text-align: center;
;
background: #eee;">{{order.weightInMill}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="notices" style="padding-left: 6px;border-left: 6px solid #29557d;margin-top: 40px;">
                        <div>Monitored By: <span style="font-weight: bold">Faizan</span></div>
                        <div class="notice" style="margin-top: 20px;">Sign: _______________</div>
                    </div>
                </main>
            </div>
            <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
            <div></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel-button" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn expense-button" [useExistingCss]="true" printSectionId="print-section"
            ngxPrint>Print Orders</button>
    </div>
</div>