<!-- <div class="animated fadeIn posTable">
    <div class="card">
        <div class="card-header project-detail heading">
            <span>Payment</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <label id="example-radio-group-label">Choose Payment Type</label>
                    <mat-radio-group aria-labelledby="example-section" class="example-radio-group"
                        [(ngModel)]="payType">
                        <mat-radio-button class="" *ngFor="let type of paymentTypes" [value]="type">
                            {{type}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="payType=='Receiving'" class="col-sm-6">
                    <label>Payment by Order</label>
                    <br>
                    <mat-slide-toggle class="example-margin" [checked]="isPaymentByOrder"
                    [(ngModel)]="isPaymentByOrder">
                    </mat-slide-toggle>

                </div>
            </div>
            <div class="row">
                    <div class="col-sm-5 col-md-5 col-10">
                        <label class="current-date"><strong>Date</strong></label>
                        <br>
                        <jqxDateTimeInput #myDateInput placeHolder="Select Date" class="form-control cal" [value]="null"
                            [max]="maxDate" [width]="200" [height]="30" formatString="f" [(ngModel)]="selectedDate"
                            [template]="'primary'" [allowKeyboardDelete]="false">
                        </jqxDateTimeInput>
                    </div>
                </div>
            <form [formGroup]="paymentForm">
                <div class="row detailView">
                    <div class="col-sm-6 infoBodyL">
                        <div class="form-group">
                            <label>Vendor Name</label>
                            <ng-select #vendorNgSelect (click)="scrollOnDropdownExpansion(300)" style="position: relative;"
                                class="bootstrap" placeholder="Choose your Vendor"
                                [items]="vendorsDropdown" (change)="vendorIsSelected($event)">
                            </ng-select>
                        </div>
                        <div *ngIf="isPaymentByOrder==true && payType=='Receiving'" class="form-group">
                            <label>Order</label>
                            <ng-select (click)="scrollOnDropdownExpansion(300)" style="position: relative;"
                                class="bootstrap" placeholder="Choose your Order"
                                [items]="ordersDropdown" (change)="orderIsSelected($event)">
                            </ng-select>
                        </div>

                    </div>
                    <div class="col-sm-6 custom-margin-col infoBodyR">
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="number" class="form-control" title="Amount" placeholder="Amount"
                                formControlName="amount"
                                [ngClass]="{ 'is-invalid': submitted && f.amount.errors, 'is-valid': f.amount.touched && !f.amount.errors }">
                                <div *ngIf="submitted && f['amount'].errors" class="invalid-feedback">
                                    <div *ngIf="f['amount'].errors.required">Amount is required</div>
                                    <div *ngIf="f['amount'].errors.min">Value must positive</div>
                                  </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="card-header-actions total">
                <div class="text-center">
                    <div class="row" style="direction: ltr">
                        <div _ngcontent-c6="" class="text-center editBtn">
                            <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button"
                                (click)="checkPaymentForm()" data-toggle="modal" type="button">
                                <i _ngcontent-c6="" style="font-style: inherit;">$</i>
                                Add Payment
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->