<div class="card padding-bottom positionInfo">
    <div class="card-header project-detail heading">
        <span *ngIf="vendor">{{vendor.v_name}} Details</span>
        <div *ngIf="isEdit==false" class="row inlineBtn">
            <div _ngcontent-c6="" class="text-center editBtn">
                <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button" (click)="onEditBtn()"
                    data-toggle="modal" type="button">
                    <i _ngcontent-c6="" class="fa fa-edit" style="font-style: inherit;"></i>
                    Edit
                </button>
            </div>
        </div>
    </div>

    <div class="card-body p-2 clearfix posData" style="padding-left: 5px;">
            <div *ngIf="vendor" class="row" style="margin-top: 30px">
                    <div class="col-sm-4">
                            <label for="state">Balance :</label>
                            <mat-chip-list aria-label="Fish selection" class="col-sm-2 matChip">
                                <mat-chip color="primary" selected>PKR {{vendor.v_balance}}</mat-chip>
                            </mat-chip-list>
                    </div>
                    <div class="col-sm-4">
                            <label for="state">Paid by {{vendor.v_name}} :</label>
                            <mat-chip-list aria-label="Fish selection" class="col-sm-2 matChip">
                                <mat-chip color="primary" selected>PKR {{vendor.v_totalPaid}}</mat-chip>
                            </mat-chip-list>
                    </div>
                    <div class="col-sm-4">
                            <label for="state">Paid to {{vendor.v_name}}</label>
                            <mat-chip-list aria-label="Fish selection" class="col-sm-2 matChip">
                                <mat-chip color="primary" selected>PKR {{vendor.v_paidToVendor}}</mat-chip>
                            </mat-chip-list>
                    </div>
            </div>
            <form *ngIf="vendorForm" [formGroup]="vendorForm">
        <div *ngIf="vendor" class="row detailView">
            <div class="col-sm-6 infoBodyL">
                <div *ngIf="isEdit==true" class="form-group">
                    <label for="state">Vendor</label>
                    <input style="position: relative;" [disabled]="!isEdit" class="form-control"
                        placeholder="Choose your Vendor" formControlName="v_name" value="{{vendor.v_name}}"
                        [ngClass]="{ 'is-invalid': submitted && f.v_name.errors, 'is-valid': f.v_name.touched && !f.v_name.errors }">
                        <div *ngIf="submitted && f['v_name'].errors" class="invalid-feedback">
                            <div *ngIf="f['v_name'].errors.required">Name is required</div>
                          </div>
                </div>
                <!-- <div *ngIf="vendor.modifiedBy!==null">
                <div class="form-group">
                  <label for="state">Modified By</label>
                    <input style="position: relative;" [disabled]="true" class="bootstrap" [(ngModel)]="vendor.modifiedBy">
                </div>
            </div> -->
                <div *ngIf="isEdit==true" class="form-group">
                    <label for="state">Email</label>
                    <input style="position: relative;" [disabled]="!isEdit" class="form-control"
                    formControlName="v_email" placeholder="Email" value="{{vendor.v_email}}">
                </div>
            </div>

            <div class="col-sm-6 custom-margin-col infoBodyR">
                <div *ngIf="isEdit==true" class="form-group">
                    <label for="state">Contact Number</label>
                    <input style="position: relative;" [disabled]="!isEdit" class="form-control"
                    formControlName="v_contact_number" placeholder="Contact Number" value="{{vendor.v_contact_number}}">
                </div>
                <div *ngIf="isEdit==true" class="form-group">
                    <label for="state"> Address</label>
                    <input style="position: relative;" [disabled]="!isEdit" class="form-control"
                    formControlName="v_address" placeholder="Address" value="{{vendor.v_address}}">
                </div>
            </div>
        </div>
        </form>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title *ngIf="vendor">
                        <b>{{vendor.v_name}}'s Orders</b>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="card lineItemSection">
                    <div class="card-body linkedComment">
                        <div style="margin-left: 1px; margin-right: 1px; display:block;" class="row mb-3">
                            <mat-tab-group>
                                <mat-tab label="Pending Orders">

                                    <div class="card" style="margin-top: 30px">
                                        <div class="card-body">
                                            <table #pendingDataTable class="responsive display" style="width: 100%">
                                                <thead class="heading">
                                                    <tr class="heading">
                                                        <th>
                                                            <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
                                                            Date
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            Vendor
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            City
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            Status
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            Order Type
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            Total
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Delivered Orders">
                                    <div class="card" style="margin-top: 30px">
                                        <div class="card-body">
                                            <table #deliveredDataTable class="responsive display" style="width: 100%">
                                                <thead class="heading">
                                                    <tr class="heading">
                                                        <th>
                                                            <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
                                                            Date
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            Vendor
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            City
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            Status
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            Order Type
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            Total
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Paid Orders">
                                    <div class="card" style="margin-top: 30px">
                                        <div class="card-body">
                                            <table #paidDataTable class="responsive display" style="width: 100%">
                                                <thead class="heading">
                                                    <tr class="heading">
                                                        <th>
                                                            <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
                                                            Date
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            Vendor
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            City
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            Status
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            Order Type
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-sort-amount-asc"></i>
                                                            Total
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <!-- <mat-expansion-panel>
                </mat-expansion-panel> -->
        </mat-accordion>

        <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title *ngIf="payments && vendor">
                            <b>{{vendor.v_name}}'s Payments</b>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="card lineItemSection">
                        <div class="card-body linkedComment">
                            <div style="margin-left: 1px; margin-right: 1px; display:block;" class="row mb-3">
                                <mat-tab-group>
                                    <mat-tab label="Received Payments">
    
                                        <div class="card" style="margin-top: 30px">
                                            <div class="card-body">
                                                <table #receivedPaymentDataTable class="responsive display" style="width: 100%">
                                                    <thead class="heading">
                                                        <tr class="heading">
                                                            <th>
                                                                <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
                                                                Date
                                                            </th>
                                                            <th>
                                                                <i class="fa fa-sort-amount-asc"></i>
                                                                Vendor
                                                            </th>
                                                            <th>
                                                                <i class="fa fa-sort-amount-asc"></i>
                                                                Amount
                                                            </th>
                                                            <th>
                                                                <i class="fa fa-sort-amount-asc"></i>
                                                                Added By
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Paid Payments">
                                        <div class="card" style="margin-top: 30px">
                                            <div class="card-body">
                                                <table #paidPaymentDataTable class="responsive display" style="width: 100%">
                                                    <thead class="heading">
                                                        <tr class="heading">
                                                            <th>
                                                                <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
                                                                Date
                                                            </th>
                                                            <th>
                                                                <i class="fa fa-sort-amount-asc"></i>
                                                                Vendor
                                                            </th>
                                                            <th>
                                                                <i class="fa fa-sort-amount-asc"></i>
                                                                Amount
                                                            </th>
                                                            <th>
                                                                <i class="fa fa-sort-amount-asc"></i>
                                                                Added By
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- <mat-expansion-panel>
                    </mat-expansion-panel> -->
            </mat-accordion>

    </div>
    <div class="card-footer">
        <div class="card-header-actions">
            <div class="text-center">
                <div *ngIf="isEdit; else elseBlock" class="row" style="direction: rtl">
                    <div _ngcontent-c6="" class="text-center">
                        <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button" (click)="isEdit=false"
                            data-toggle="modal" type="button">
                            <i _ngcontent-c6="" class="fa fa-close" style="font-style: inherit;"></i>
                            Cancel
                        </button>
                        <!-- <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button" (click)="confirmDelete()"
                            data-toggle="modal" type="button">
                            <i _ngcontent-c6="" class="fa fa-trash-o" style="font-style: inherit;"></i>
                            Delete
                        </button> -->
                        <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button"
                            (click)="detectFormChanges()" data-toggle="modal" type="button">
                            <i _ngcontent-c6="" class="fa fa-save" style="font-style: inherit;"></i>
                            Save
                        </button>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <button type="button" class="btn btn-secondary mr-1 expense-button"
                        [routerLink]="['/main/view-vendors']">
                        Back
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</div>