.card {
    margin-bottom: 0rem;
    height: auto;
}
.card-header{
    text-align: center;
    font-size: larger;
}

.lineItemSection {
    margin-top: 25px;
}

.project-detail {
    text-align: left !important;
}

.heading {
    background-color: #29557d;
    color:white;
    font-weight: bolder;
}

.positionInfo {
    margin: 20px;
}

.info {
    margin-left: 20px;
    font-size: larger;
}

.infoSection {
    margin-top: 25px;
}

.posData div {
    padding-bottom: 5px;
}
.posData span{
    color: black;
    font-size: medium;
    margin-right: 8px;
    margin-left: 8px;
}

.simpleHeader {
    border-left: 1px solid #73818f ;
    border-right: 1px solid #73818f ;
}

.simpleRow {
    border: 1px solid #73818f;
}

.comment-buttons {
    text-align: -webkit-right;
    margin-right: 22px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.expense-button {
    border: 2px solid #29557d;
    background-color: white;
    color: #29557d;
    margin-bottom: 1px;
    font-weight: bolder;
}

.expense-button:hover {
    background-color: #29557d;
    color: white;
}

.expense-button:focus {
    box-shadow: none;
}
