<div class="card padding-bottom positionInfo">
    <div class="card-header project-detail heading">
        <span>Product Details</span>
        <div *ngIf="isEdit==false" class="row inlineBtn">
            <div _ngcontent-c6="" class="text-center">
                <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button" (click)="onEditBtn()"
                    data-toggle="modal" type="button">
                    <i _ngcontent-c6="" class="fa fa-edit" style="font-style: inherit;"></i>
                    Edit
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="productForm" class="card-body p-2 clearfix posData" style="padding-left: 5px;">
        <form [formGroup]="productForm">
            <div class="row detailView">
                <div class="col-sm-6 infoBodyL">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" value="{{product.p_name}}" title="Price" formControlName="p_name"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.p_name.errors, 'is-valid': !f.p_name.errors }">
                            <div *ngIf="submitted && f['p_name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['p_name'].errors.required">Name is required</div>
                                  </div>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input class="form-control" formControlName="p_price" title="Price" value="{{product.p_price}}"
                        [ngClass]="{ 'is-invalid': submitted && f.p_price.errors, 'is-valid': !f.p_price.errors }">
                        <div *ngIf="submitted && f['p_price'].errors" class="invalid-feedback">
                            <div *ngIf="f['p_price'].errors.required">Price is required</div>
                            <div *ngIf="f['p_price'].errors.min">Value must positive</div>
                          </div>
                    </div>

                </div>
                <div class="col-sm-6 custom-margin-col infoBodyR">
                    <div class="form-group">
                        <label>Quantity</label>
                        <input class="form-control" formControlName="p_quantity" title="Quantity" value="{{product.p_quantity}}"
                        [ngClass]="{ 'is-invalid': submitted && f.p_quantity.errors, 'is-valid': !f.p_quantity.errors }">
                                <div *ngIf="submitted && f['p_quantity'].errors" class="invalid-feedback">
                                        <div *ngIf="f['p_quantity'].errors.required">Quantity is required</div>
                                        <div *ngIf="f['p_quantity'].errors.min">Value must positive</div>
                                      </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="card-footer">
        <div class="card-header-actions">
            <div class="text-center">
                <div *ngIf="isEdit; else elseBlock" class="row" style="direction: rtl">
                    <div _ngcontent-c6="" class="text-center">
                        <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button" (click)="onCancelBtn()"
                            data-toggle="modal" type="button">
                            <i _ngcontent-c6="" class="fa fa-close" style="font-style: inherit;"></i>
                            Cancel
                        </button>
                        <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button" (click)="confirmDelete()"
                            data-toggle="modal" type="button">
                            <i _ngcontent-c6="" class="fa fa-trash-o" style="font-style: inherit;"></i>
                            Delete
                        </button>
                        <button _ngcontent-c6="" class="btn btn-secondary mr-1 expense-button"
                            (click)="detectFormChanges()" data-toggle="modal" type="button">
                            <i _ngcontent-c6="" class="fa fa-save" style="font-style: inherit;"></i>
                            Save
                        </button>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <button type="button" class="btn btn-secondary mr-1 expense-button"
                        [routerLink]="['/main/products']">
                        Back
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</div>
