<div class="component-container" style="max-width: 100vw;">
    <mat-tab-group (selectedTabChange)="updateItem()">
      <mat-tab label="Add Inventory">
        <div *ngIf="items.length > 0">
        <app-add-inventory [items]="items"> </app-add-inventory>
      </div>
      </mat-tab>
      <mat-tab label="Remove Inventory"> 
          <div *ngIf="items.length > 0">
            <app-remove-inventory [items]="items"> </app-remove-inventory>
          </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  