/* You can add global styles to this file, and also import other style files */

//import bootstrap style
@import '~bootstrap/dist/css/bootstrap.min.css';
//import coreui style
@import "~@coreui/coreui/scss/coreui.scss";

//import icons
@import "~@coreui/icons/css/coreui-icons.css";
@import "~flag-icon-css/css/flag-icon.css";
@import "~simple-line-icons/css/simple-line-icons.css";

// bootstrap style toast
@import '~ngx-toastr/toastr-bs4-alert.scss';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "~@ng-select/ng-select/themes/default.theme.css";


//custom style
app-sidebar-nav{
    margin-top: 60px;
  }

app-sidebar{
    height: 100% !important;
  }

  .sidebar .nav-link.active .nav-icon {
    color: white!important;
  }
  
  .sidebar .nav-link:hover {
    color: #fff;
    background: #29557d;
  }

  .component-container{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  @media(max-width: 420px) {
    .component-container {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }
    .main {
      width: 100%;
      overflow: hidden;
    }
    .custom-breadcrumb{
      max-height: 85px;
    }
  }
  body > app-main > app-toolbar > app-header > button.navbar-toggler.d-none.d-md-block
  body > app-main > app-toolbar > app-header > button:nth-child(6) {
    visibility: hidden !important;
  }
  html, body {
    //height: 100% !important;
    // display: inline !important;
    max-width: 100%;
    overflow: auto !important;
  }


  
  body {
    padding-right: 0px !important;
  }
  .breadcrumb{
    margin-top: 55px;
    padding-bottom: initial;
    width: inherit;
  }
  .custom-breadcrumb-item {
    margin-left: 0.4rem;
  }
  
  .app, app-dashboard, app-root{
    display: inline;
  }

  .card-footer {
    background-color: none !important;
}
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-control.jqx-widget.jqx-datetimeinput.jqx-input.jqx-overflow-hidden.jqx-rc-all.jqx-reset.jqx-clear.jqx-widget-content {
  height: 25px!important;
  width: 280px!important;
}

.form-control.jqx-widget.jqx-datetimeinput.jqx-input.jqx-overflow-hidden.jqx-rc-all.jqx-reset.jqx-clear.jqx-widget-content.jqx-max-size.jqx-position-relative input {
  width: 270px!important;
}

.form-control.jqx-widget.jqx-datetimeinput.jqx-input.jqx-overflow-hidden
.jqx-rc-all.jqx-reset.jqx-clear.jqx-widget-content.jqx-max-size.jqx-position-relative.jqx-position-absolute.jqx-action-button.jqx-fill-state-normal.jqx-rc-r.jqx-primary {
  left: 260px!important;
}

.current-date {
  margin-bottom: 0!important;
}

.cdk-overlay-container {
  z-index: 5500 !important;
}

app-body {
  background: linear-gradient(141deg,rgba(44, 180, 202, 0.5) 0,#5fa99e6b 51%,#c7efe7de 75%)!important;
}

//custom style
app-sidebar-nav{
  margin-top: 60px;
}
app-sidebar{
  height: 100% !important;
}
.component-container{
  //margin-top: 5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
@media(max-width: 420px) {
  .component-container {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  .main {
    width: 100%;
    overflow: hidden;
  }
  .custom-breadcrumb{
    max-height: 85px;
  }
}
body > app-main > app-toolbar > app-header > button.navbar-toggler.d-none.d-md-block
body > app-main > app-toolbar > app-header > button:nth-child(6) {
  visibility: hidden !important;
}
html, body {
  //height: 100% !important;
  // display: inline !important;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  padding-right: 0px !important;
  background: linear-gradient(141deg,rgba(44, 180, 202, 0.5) 0,#5fa99e6b 51%,#c7efe7de 75%)!important;
}
.breadcrumb{
  margin-top: 55px;
  padding-bottom: initial;
  width: inherit;
}
.custom-breadcrumb-item {
  margin-left: 0.4rem;
}

.app, app-dashboard, app-root{
  display: inline;
}

.project-widget {
  // min-width: 150px;
  text-align: -webkit-center;
}

.widget-text {
  display: block;
  width: 135px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.required {
  color: red;
}

a {
  color: #29557d;
}

.sidebar .nav-link.active .nav-icon {
  color: white!important;
}

.sidebar .nav-link:hover {
  color: #fff;
  background: #29557d;
}
.theme-green .bs-datepicker-head {
  background-color: #29557d!important;
}

.theme-green .bs-datepicker-body table td.week span {
  color: #29557d!important;
}

.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, 
.theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #29557d!important;
}

modal-container+modal-container {
  background: rgba(0, 0, 0, 0.5);
}
/*========= Kanban Board===========*/
app-kanban-board {
  display: block;
}
app-kanban-board >div,
app-kanban-board .jqxMain,
app-kanban-board #kanban3,
app-kanban-board .jqx-widget {
  height: 98%!important;
  display: block;
}
app-kanban-board .jqxMain[_ngcontent-c5] {
  margin:0;
  overflow-x: scroll;
}
app-kanban-board .jqx-widget-header {
  border-color: #29557d;
  background: #29557d;
}
app-kanban-board .jqx-widget-content {
  overflow-x: hidden!important;
  height: auto!important;
}
/*=========== Kanba Ban Scroll ========== */
/* width */
app-kanban-board .jqx-kanban ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
app-kanban-board .jqx-kanban ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
app-kanban-board .jqx-kanban ::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
app-kanban-board .jqx-kanban ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@media (min-width: 1024px) {
  app-kanban-board .jqx-widget-content {
    width: 275px;
  }
  app-kanban-board .jqx-kanban-column-container .jqx-kanban-item {
    padding-right: 0px;
    width: 100%;
    box-sizing: border-box;
  }

}
@media (max-width: 1024px) {
  app-kanban-board .jqxMain[_ngcontent-c5] {
    margin: 0;
    padding-left: 5px;
  }
  app-kanban-board .jqx-kanban-item-keyword {
    width: 100%;
  }
  app-kanban-board .jqx-kanban-column-container .jqx-kanban-item {
    padding-right: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  app-kanban-board .jqx-widget-content {
    width: 222px;
  }
  app-kanban-board .jqx-kanban-column-container .jqx-kanban-item .icon-clock {
    padding-right: 0!important;
  }
}
@media (max-width: 768px) {
  .bs-datepicker-container {
    top: 0;
    left: 0;
  }
}
div.jqx-kanban-item-text {
  padding-left: 10px !important;
  font-size: 15px !important;
  padding-top: 5px !important;
  color: #383c40 !important;
}

.jqx-kanban-item-avatar {
display: none !important;
}

.jqx-kanban-item-color-status {
width: 4px;
}

.jqx-kanban-item-footer {
border-top: none;
padding-top: 0;
margin-top: 0;
}

.jqx-kanban-item-keyword {
border: none;
color: #6e6f71;
width: webkit-fill-available;
}

.jqx-fill-state-normal {
background: none;
}

.jqx-widget-content {
border-color: #e4e3e3;
}

.jqx-kanban-column-header {
background: #29557d !important;
color: white;
}

.jqx-kanban-column-vertical-container span {
color: white;
}
.jqx-widget.jqx-widget-material.jqx-kanban.jqx-kanban-material {
  min-width: min-content !important;
  display: inline-flex;
}


@media (max-width: 800px) {

  jqxkanban > div {
    width: 800px !important;
  }

  .jqxMain {
    overflow-x: scroll !important;
  }

}

table.dataTable {
  margin: 0;
  font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #23282c;
  text-align: left;
}

table.dataTable tbody{
  font-size: 12px;
  text-align: left;
}
table.dataTable td, table.dataTable th {
  padding: .75rem;
  border: 1px solid #c8ced3;
  width: inherit !important;
}
table.dataTable thead th {
  background-color: #29557d;
  vertical-align: bottom;
  border-bottom: 2px solid #c8ced3 !important;
  font-size: 12px;
  color: #fff;
  padding-left: 10px!important;
}
table.dataTable tbody tr{
  cursor: pointer;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  color: #23282c;
  background-color: rgb(236, 236, 236)!important;
}

.dtr-control:before {
  background-color: #29557d !important;
}
table.dataTable td.dtr-control {
  width: 5px!important;
}


::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0.5 !important;     /*click effect color change*/
  background-color: #29557d !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #29557d!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color:#29557d!important; /*outer ring color change*/
}

.jqx-position-absolute.jqx-action-button.jqx-fill-state-normal.jqx-rc-r.jqx-primary {
  background-color: #29557d!important;
  border-color: #29557d!important;
}

