<div class="animated fadeIn posTable">
        <!-- <div class="card-header project-detail heading">
            <span>Inventory Records</span>
        </div> -->
        <mat-tab-group>
            <mat-tab label="Received Payments">
              
        <div class="card" style="margin-top: 30px">
            <div class="card-body">
                <table #receivedDataTable class="responsive display" style="width: 100%">
                    <thead class="heading">
                        <tr class="heading">
                            <th>
                                <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
                                    Date
                            </th>
                            <th>
                                <i class="fa fa-sort-amount-asc"></i>
                                    Vendor
                            </th>
                            <th>
                                <i class="fa fa-sort-amount-asc"></i>
                                    Amount
                            </th>
                            <th>
                                <i class="fa fa-sort-amount-asc"></i>
                                    Added By
                            </th>
                            <th>
                                    <i class="fa fa-sort-amount-asc"></i>
                                        Action
                                </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
            </mat-tab>
            <mat-tab label="Paid Payments"> 
                <div class="card" style="margin-top: 30px">
                    <div class="card-body">
                        <table #paidDataTable class="responsive display" style="width: 100%">
                            <thead class="heading">
                                <tr class="heading">
                                    <th>
                                        <i class="fa fa-list-alt 2x" aria-hidden="true"></i>
                                            Date
                                    </th>
                                    <th>
                                        <i class="fa fa-sort-amount-asc"></i>
                                            Vendor
                                    </th>
                                    <th>
                                        <i class="fa fa-sort-amount-asc"></i>
                                            Amount
                                    </th>
                                    <th>
                                        <i class="fa fa-sort-amount-asc"></i>
                                            Added By
                                    </th>
                                    <th>
                                            <i class="fa fa-sort-amount-asc"></i>
                                                Action
                                        </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </mat-tab>
          </mat-tab-group>
    </div>


    <app-reload-button [callback]="this.refreshRecords.bind(this)"></app-reload-button>
    
    
    