<div *ngIf="allProjectsSet">
        <div class="jqxMain col-md-12 col-sm-12 col-12" height="mainWindow" style="width: auto;  overflow-x: scroll;">
          <jqxKanban [theme]="'material'" id="kanban3" #myKanbanThree
                    [width]='"100%"' [height]='"100%"' 
                    [source]='dataAdapter'
                    [columns]='kanbanThreeColumns'
                    (onItemAttrClicked)="itemAttrClicked($event)"
                    [template]="template" 
                    [itemRenderer]='itemRenderer'>
      
          </jqxKanban>
        </div>
      </div>
      <div *ngIf="!allProjectsSet">
        <i class="fa fa-exclamation-circle" style="margin-left: 10px;font-weight:bold;"> Kanban board cannot be initiated as there are no records to display for Kanban board!</i>
      </div>
      
      <app-reload-button [callback]="this.refreshProjects.bind(this)"></app-reload-button>
      